body {
    background-color: #000000;
    color: #ff0000;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

pre {
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #800080;
}
